@page "/ChatRoom/{id:int}"
@model ChatBotWeb.Pages.ChatRoomModel
@{
}



<div class="row">
    <div class="col-md-2">
        @*<form method="post" asp-page-handler="Stock">*@
            <input type="text" class="form-control" value="" id="inputStock" placeholder="Stock code here" />
            <button type="submit" class="btn btn-success" id="stockButton">Call Stock Bot</button>
        @*</form>*@
    </div>
</div>


<div class="row">
    <div class="col-md-8 offset-2">
        <h2>Chat Room: @Model.Room.RoomName </h2>
        <ul class="list-group">
            @foreach (var message in Model.Messages)
            {
                <li class="list-group-item">
                    <div>
                        @message.MessagePrompt
                    </div>
                    <div class="small">
                        By: @message.User.Username on @message.PostingTime
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="mb-3">
            <input type="text" class="form-control" value="" id="inputMessage" placeholder="Enter your message here" />
        </div>
        <button type="submit" class="btn btn-primary" id="submitMessage">Send</button>
    </div>
</div>


<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js">
</script>

<script>

    function sendMessage(event) {
        let roomId = "@Model.Room.RoomId";
        let username = "@Model.User.FindFirst("Username").Value";
        let userId = "@Model.LoggedUser.UserId";
        let message = document.getElementById("inputMessage").value

        connection.invoke("SendMessage", roomId, username, message, userId).catch((e) =>
        {
            console.error(e.toString() + " Error when invoking");
        });

        document.getElementById("inputMessage").value = "";
        document.getElementById("inputMessage").focus();

        event.preventDefault();
    }

    function getStock(event) {
        let roomId = "@Model.Room.RoomId";
        let stockCode = document.getElementById("inputStock").value

        connection.invoke("GetStockQuote", roomId, stockCode).catch((e) =>
        {
            console.error(e.toString() + " Error when invoking");
        });

        document.getElementById("inputStock").value = "";
        document.getElementById("inputMessage").focus();

        event.preventDefault();
    }

    var connection = new signalR.HubConnectionBuilder().withUrl("https://192.168.10.101:2701/chatroom").build();

    connection.start().then(() => {
        connection.invoke("AddToGroup", "@Model.Room.RoomId")
    }).catch(() => console.error(e + " Error when start"));

    document.getElementById("submitMessage").addEventListener("click", (event) => sendMessage(event));
    document.getElementById("inputMessage").addEventListener("keydown", (event) => {
        if (event.key === 'Enter') {
            sendMessage(event)
        }
    });

    document.getElementById("stockButton").addEventListener("click", (event) => getStock(event));
    document.getElementById("inputStock").addEventListener("keydown", (event) => {
        if (event.key === 'Enter') {
            getStock(event)
        }
    });

    connection.on("ReceiveMessage", (result) => {
        window.location.reload();
    });

</script>